.checkoutForm {
  .splitView {
    display: flex;
    .splitViewItem {
      flex: 1 1 0;
    }
  }
  .spacer {
    height: 13px;
  }
  .securityCodeIcon {
    color: #dfdfdf;
  }
  .shoppingCartIcon {
    font-size: 14px;
    position: relative;
    top: 2px;
  }
}
