<div class='step' >
  <span class='number'>{{nr}}</span>
  <span class='label'>{{label}}</span>

  @if(icon)
    <div class='icon {{iconClass}}'>
      <span class="material-icons">{{icon}}</span>
    </div>
  @end

</div>
