.checkout {
  display: flex;
  height: 100%;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 785px) {
    flex-direction: column-reverse;
  }

  .checkoutContainer {
    flex: 1 1 0;
  }
  .cartContainer {
    flex: 0 1 0;
    min-width: 280px;
  }
}
